<h4>Add a comment</h4>
<%= form_for [post, comment] do |f| %>
<div class="container">
  <form>
    <div class="row">
      <div class="col-md-8">
        <%= f.label :body, class: 'sr-only' %>
        <%= f.text_field :body, class: 'form-control', placeholder: "Enter a new comment" %>
      </div>
      <div class="col-md-4">
        <%= f.submit "Submit Comment", class: 'btn btn-success' %>
      </div>
    </div>
  </form>
</div>
<% end %>
