<div class="row center">
  <h1>Sign Up Confirmation</h1>
  <h3>Are you sure these values are correct?</h3>
  <hr />
</div>
<div class="row center">
  <p>Email:</p>
  <p>Name:</p>
</div>
<div class="row center">
  <button type="button" class="btn btn-success">Yes</button>
  <button type="button" class="btn btn-danger">No</button>
</div>
