<h1 class="center"><%= @post.title %></h1>

<div class="row center">
  <div>
    <p><%= @post.body %></p>
  </div>
</div>
<div class="row center">
  <%= link_to "Edit", edit_topic_post_path(@post.topic, @post), class: 'btn btn-info' %>
<%# Here we override the method(:post) with :delete, so that the when the button is clicked the route called is delete %>
  <%= link_to "Delete Post", [@post.topic, @post], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post? All comments will also be deleted.'} %>
</div>
